workflows/水表MBus测试流程.json
[
	{
		"id": "c149409a.e707b",
		"type": "subflow",
		"name": "MBus串口",
		"info": "配置MBus操作所用到的串口。\n",
		"category": "",
		"in": [
			{
				"x": 60,
				"y": 40,
				"wires": [
					{
						"id": "50d974b5.cff53c"
					}
				]
			}
		],
		"out": [
			{
				"x": 280,
				"y": 100,
				"wires": [
					{
						"id": "db9eaaa1.97a0d8",
						"port": 0
					}
				]
			}
		],
		"env": []
	},
	{
		"id": "db9eaaa1.97a0d8",
		"type": "serial in",
		"z": "c149409a.e707b",
		"name": "",
		"serial": "ca5b448c.80e938",
		"x": 170,
		"y": 100,
		"wires": [
			[]
		]
	},
	{
		"id": "50d974b5.cff53c",
		"type": "serial out",
		"z": "c149409a.e707b",
		"name": "",
		"serial": "ca5b448c.80e938",
		"x": 170,
		"y": 40,
		"wires": []
	},
	{
		"id": "ca5b448c.80e938",
		"type": "serial-port",
		"z": "",
		"serialport": "COM6",
		"serialbaud": "2400",
		"databits": "8",
		"parity": "even",
		"stopbits": "1",
		"waitfor": "",
		"newline": "50",
		"bin": "bin",
		"out": "interbyte",
		"addchar": "",
		"responsetimeout": "10000"
	},
	{
		"id": "90c286bb.dbc918",
		"type": "jar-func",
		"z": "c35f8949.621d58",
		"name": "WaterMeter.jar",
		"jar": "E:\\work\\IdeaPrj\\WaterMeter\\out\\artifacts\\WaterMeter_jar\\WaterMeter.jar",
		"x": 600,
		"y": 60,
		"wires": [
			[
				"94ac31fa.f6e58"
			]
		]
	},
	{
		"id": "f92b4b55.73af48",
		"type": "function",
		"z": "c35f8949.621d58",
		"name": "注入MBus命令",
		"func": "msg.topic = \"Command\";\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 380,
		"y": 60,
		"wires": [
			[
				"90c286bb.dbc918"
			]
		]
	},
	{
		"id": "94ac31fa.f6e58",
		"type": "switch",
		"z": "c35f8949.621d58",
		"name": "",
		"property": "topic",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "TX",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "RX",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Status",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Log",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 4,
		"x": 370,
		"y": 220,
		"wires": [
			[
				"ac9f0373.2fd73"
			],
			[
				"64688f58.773dc"
			],
			[
				"6564e03.439df2"
			],
			[
				"4d07825f.25dc9c"
			]
		]
	},
	{
		"id": "b20b3dbf.66d8a",
		"type": "subflow:c149409a.e707b",
		"z": "c35f8949.621d58",
		"name": "",
		"env": [],
		"x": 660,
		"y": 200,
		"wires": [
			[
				"a7fa0f03.12266"
			]
		]
	},
	{
		"id": "a7fa0f03.12266",
		"type": "function",
		"z": "c35f8949.621d58",
		"name": "串口返回",
		"func": "msg.topic = \"RX\";\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 400,
		"y": 120,
		"wires": [
			[
				"90c286bb.dbc918"
			]
		]
	},
	{
		"id": "ac9f0373.2fd73",
		"type": "function",
		"z": "c35f8949.621d58",
		"name": "toBuffer",
		"func": "msg.payload = new Buffer(msg.payload);\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 500,
		"y": 200,
		"wires": [
			[
				"b20b3dbf.66d8a",
				"631a38d1.9b4838"
			]
		]
	},
	{
		"id": "631a38d1.9b4838",
		"type": "debug",
		"z": "c35f8949.621d58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": true,
		"complete": "payload",
		"targetType": "msg",
		"x": 640,
		"y": 280,
		"wires": []
	},
	{
		"id": "64688f58.773dc",
		"type": "debug",
		"z": "c35f8949.621d58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": true,
		"complete": "payload",
		"targetType": "msg",
		"x": 640,
		"y": 340,
		"wires": []
	},
	{
		"id": "6564e03.439df2",
		"type": "debug",
		"z": "c35f8949.621d58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": true,
		"complete": "payload",
		"targetType": "msg",
		"x": 640,
		"y": 400,
		"wires": []
	},
	{
		"id": "4d07825f.25dc9c",
		"type": "debug",
		"z": "c35f8949.621d58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": true,
		"complete": "payload",
		"targetType": "msg",
		"x": 640,
		"y": 460,
		"wires": []
	},
	{
		"id": "74a12880.6ce208",
		"type": "inject",
		"z": "c35f8949.621d58",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 60,
		"wires": [
			[
				"f3129b95.754858"
			]
		]
	},
	{
		"id": "f3129b95.754858",
		"type": "change",
		"z": "c35f8949.621d58",
		"name": "读水表参数",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "{}",
				"tot": "json"
			},
			{
				"t": "set",
				"p": "payload.address",
				"pt": "msg",
				"to": "AA AA AA AA AA AA AA ",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.ctrlCode",
				"pt": "msg",
				"to": "21",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.dataId",
				"pt": "msg",
				"to": "D3 57",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 130,
		"y": 120,
		"wires": [
			[
				"bee30c72.e315e",
				"f92b4b55.73af48"
			]
		]
	},
	{
		"id": "bee30c72.e315e",
		"type": "delay",
		"z": "c35f8949.621d58",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 120,
		"y": 180,
		"wires": [
			[
				"847e0d93.9afb3"
			]
		]
	},
	{
		"id": "847e0d93.9afb3",
		"type": "change",
		"z": "c35f8949.621d58",
		"name": "读：5F 90",
		"rules": [
			{
				"t": "set",
				"p": "payload.address",
				"pt": "msg",
				"to": "AA AA AA AA AA AA AA ",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.ctrlCode",
				"pt": "msg",
				"to": "01",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.dataId",
				"pt": "msg",
				"to": "5F 90   ",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 130,
		"y": 240,
		"wires": [
			[
				"d22dc6b0.d0b318",
				"f92b4b55.73af48"
			]
		]
	},
	{
		"id": "e02fe6a.31c2c18",
		"type": "change",
		"z": "c35f8949.621d58",
		"name": "读：AF 90",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "{}",
				"tot": "json"
			},
			{
				"t": "set",
				"p": "payload.address",
				"pt": "msg",
				"to": "AA AA AA AA AA AA AA",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.ctrlCode",
				"pt": "msg",
				"to": "01",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.dataId",
				"pt": "msg",
				"to": "AF 90",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 130,
		"y": 360,
		"wires": [
			[
				"d5fa4213.d42f9",
				"f92b4b55.73af48"
			]
		]
	},
	{
		"id": "d22dc6b0.d0b318",
		"type": "delay",
		"z": "c35f8949.621d58",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 120,
		"y": 300,
		"wires": [
			[
				"e02fe6a.31c2c18"
			]
		]
	},
	{
		"id": "d5fa4213.d42f9",
		"type": "delay",
		"z": "c35f8949.621d58",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 120,
		"y": 420,
		"wires": [
			[
				"f3129b95.754858"
			]
		]
	},
	{
		"id": "e2c56a50.58ddc8",
		"type": "http in",
		"z": "c35f8949.621d58",
		"name": "",
		"url": "writeMeterId",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 350,
		"y": 340,
		"wires": [
			[
				"b6f67169.b5e65",
				"4d07825f.25dc9c"
			]
		]
	},
	{
		"id": "b6f67169.b5e65",
		"type": "http response",
		"z": "c35f8949.621d58",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 350,
		"y": 400,
		"wires": []
	}
]
