workflows/水表MBus测试流程.json
[
	{
		"id": "c149409a.e707b",
		"type": "subflow",
		"name": "MBus串口",
		"info": "配置MBus操作所用到的串口。\n",
		"category": "",
		"in": [
			{
				"x": 60,
				"y": 40,
				"wires": [
					{
						"id": "50d974b5.cff53c"
					}
				]
			}
		],
		"out": [
			{
				"x": 280,
				"y": 100,
				"wires": [
					{
						"id": "db9eaaa1.97a0d8",
						"port": 0
					}
				]
			}
		],
		"env": []
	},
	{
		"id": "db9eaaa1.97a0d8",
		"type": "serial in",
		"z": "c149409a.e707b",
		"name": "",
		"serial": "ca5b448c.80e938",
		"x": 170,
		"y": 100,
		"wires": [
			[]
		]
	},
	{
		"id": "50d974b5.cff53c",
		"type": "serial out",
		"z": "c149409a.e707b",
		"name": "",
		"serial": "ca5b448c.80e938",
		"x": 170,
		"y": 40,
		"wires": []
	},
	{
		"id": "ca5b448c.80e938",
		"type": "serial-port",
		"z": "",
		"serialport": "COM6",
		"serialbaud": "2400",
		"databits": "8",
		"parity": "even",
		"stopbits": "1",
		"waitfor": "",
		"newline": "50",
		"bin": "bin",
		"out": "interbyte",
		"addchar": "",
		"responsetimeout": "10000"
	},
	{
		"id": "c35f8949.621d58",
		"type": "tab",
		"label": "MBus主流程",
		"disabled": false,
		"info": ""
	},
	{
		"id": "90c286bb.dbc918",
		"type": "jar-func",
		"z": "c35f8949.621d58",
		"name": "WaterMeter.jar",
		"jar": "E:\\work\\IdeaPrj\\WaterMeter\\out\\artifacts\\WaterMeter_jar\\WaterMeter.jar",
		"x": 760,
		"y": 140,
		"wires": [
			[
				"94ac31fa.f6e58"
			]
		]
	},
	{
		"id": "f92b4b55.73af48",
		"type": "function",
		"z": "c35f8949.621d58",
		"name": "注入MBus命令",
		"func": "msg.topic = \"Command\";\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 560,
		"y": 80,
		"wires": [
			[
				"90c286bb.dbc918"
			]
		]
	},
	{
		"id": "94ac31fa.f6e58",
		"type": "switch",
		"z": "c35f8949.621d58",
		"name": "",
		"property": "topic",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "TX",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "RX",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Status",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Log",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "WebResult",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 5,
		"x": 450,
		"y": 320,
		"wires": [
			[
				"ac9f0373.2fd73"
			],
			[
				"64688f58.773dc"
			],
			[
				"6564e03.439df2"
			],
			[
				"4d07825f.25dc9c"
			],
			[
				"7bea76a3.d94778"
			]
		]
	},
	{
		"id": "b20b3dbf.66d8a",
		"type": "subflow:c149409a.e707b",
		"z": "c35f8949.621d58",
		"name": "",
		"env": [],
		"x": 780,
		"y": 280,
		"wires": [
			[
				"a7fa0f03.12266"
			]
		]
	},
	{
		"id": "a7fa0f03.12266",
		"type": "function",
		"z": "c35f8949.621d58",
		"name": "串口返回",
		"func": "msg.topic = \"RX\";\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 580,
		"y": 200,
		"wires": [
			[
				"90c286bb.dbc918"
			]
		]
	},
	{
		"id": "ac9f0373.2fd73",
		"type": "function",
		"z": "c35f8949.621d58",
		"name": "toBuffer",
		"func": "msg.payload = new Buffer(msg.payload);\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 620,
		"y": 280,
		"wires": [
			[
				"b20b3dbf.66d8a",
				"631a38d1.9b4838"
			]
		]
	},
	{
		"id": "631a38d1.9b4838",
		"type": "debug",
		"z": "c35f8949.621d58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": true,
		"complete": "payload",
		"targetType": "msg",
		"x": 760,
		"y": 340,
		"wires": []
	},
	{
		"id": "64688f58.773dc",
		"type": "debug",
		"z": "c35f8949.621d58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": true,
		"complete": "payload",
		"targetType": "msg",
		"x": 760,
		"y": 380,
		"wires": []
	},
	{
		"id": "6564e03.439df2",
		"type": "debug",
		"z": "c35f8949.621d58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": true,
		"complete": "payload",
		"targetType": "msg",
		"x": 760,
		"y": 420,
		"wires": []
	},
	{
		"id": "4d07825f.25dc9c",
		"type": "debug",
		"z": "c35f8949.621d58",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": true,
		"complete": "payload",
		"targetType": "msg",
		"x": 760,
		"y": 460,
		"wires": []
	},
	{
		"id": "74a12880.6ce208",
		"type": "inject",
		"z": "c35f8949.621d58",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 110,
		"y": 60,
		"wires": [
			[
				"bee30c72.e315e"
			]
		]
	},
	{
		"id": "f3129b95.754858",
		"type": "change",
		"z": "c35f8949.621d58",
		"name": "读水表参数",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "{}",
				"tot": "json"
			},
			{
				"t": "set",
				"p": "payload.address",
				"pt": "msg",
				"to": "AA AA AA AA AA AA AA ",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.ctrlCode",
				"pt": "msg",
				"to": "21",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.dataId",
				"pt": "msg",
				"to": "D3 57",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 330,
		"y": 80,
		"wires": [
			[
				"f92b4b55.73af48"
			]
		]
	},
	{
		"id": "bee30c72.e315e",
		"type": "delay",
		"z": "c35f8949.621d58",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 100,
		"y": 120,
		"wires": [
			[
				"d22dc6b0.d0b318",
				"f3129b95.754858"
			]
		]
	},
	{
		"id": "847e0d93.9afb3",
		"type": "change",
		"z": "c35f8949.621d58",
		"name": "读：5F 90",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "{}",
				"tot": "json"
			},
			{
				"t": "set",
				"p": "payload.address",
				"pt": "msg",
				"to": "AA AA AA AA AA AA AA ",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.ctrlCode",
				"pt": "msg",
				"to": "01",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.dataId",
				"pt": "msg",
				"to": "5F 90   ",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 330,
		"y": 120,
		"wires": [
			[
				"f92b4b55.73af48"
			]
		]
	},
	{
		"id": "e02fe6a.31c2c18",
		"type": "change",
		"z": "c35f8949.621d58",
		"name": "读：AF 90",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "{}",
				"tot": "json"
			},
			{
				"t": "set",
				"p": "payload.address",
				"pt": "msg",
				"to": "AA AA AA AA AA AA AA",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.ctrlCode",
				"pt": "msg",
				"to": "01",
				"tot": "str"
			},
			{
				"t": "set",
				"p": "payload.dataId",
				"pt": "msg",
				"to": "AF 90",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 330,
		"y": 160,
		"wires": [
			[
				"f92b4b55.73af48"
			]
		]
	},
	{
		"id": "d22dc6b0.d0b318",
		"type": "delay",
		"z": "c35f8949.621d58",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 100,
		"y": 180,
		"wires": [
			[
				"d5fa4213.d42f9",
				"847e0d93.9afb3"
			]
		]
	},
	{
		"id": "d5fa4213.d42f9",
		"type": "delay",
		"z": "c35f8949.621d58",
		"name": "",
		"pauseType": "delay",
		"timeout": "3",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 100,
		"y": 240,
		"wires": [
			[
				"bee30c72.e315e",
				"e02fe6a.31c2c18"
			]
		]
	},
	{
		"id": "fbbf6099.840bb",
		"type": "function",
		"z": "c35f8949.621d58",
		"name": "注入WebRequest",
		"func": "msg.topic = \"WebRequest\";\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 550,
		"y": 140,
		"wires": [
			[
				"90c286bb.dbc918"
			]
		]
	},
	{
		"id": "ea360c3.d94a4f",
		"type": "link in",
		"z": "c35f8949.621d58",
		"name": "WebRequest",
		"links": [
			"9a13491c.fac6a8"
		],
		"x": 330,
		"y": 240,
		"wires": [
			[
				"fbbf6099.840bb"
			]
		],
		"l": true
	},
	{
		"id": "7bea76a3.d94778",
		"type": "link out",
		"z": "c35f8949.621d58",
		"name": "WebResult",
		"links": [
			"27da460.28e77ba"
		],
		"x": 475,
		"y": 420,
		"wires": [],
		"l": true
	}
]
